# connection (database) profile(s)
profiles:
    # profile name are case-insensitive
    # by default the application also search for matching env key in format:
    # PROFILE_<profile-name-uppercase>_<field>
    #
    # example:
    # PROFILE_DEFAULT_HOST=...
    default:
        host: <changeme>
        port: <changeme>
        user: <changeme>
        password: <changeme>
        database: <changeme>
        schema: public
        # below is proxy configuration for database connection
        # proxy:
        #     host: 192.168.0.13
        #     port: 22
        #     user: <changeme>
        #     password: <changeme>


targets:
    # target name are case-insensitive
    # this entry is only for example and will be count as non-exist at runtime
    "*":
        # the paths here can use go template and it can be an absolute path or relative path to "cwd"
        # available template variables are:
        # - "cwd" or current working directory, is the configuration file directory location
        # - "target" name of the target entry

        # html entry, make sure it's a valid path
        html: "{{ "{{ .target }}" }}/index.html"
        # script entry, will embed the content to html and script tag if the file exist
        # can be an array of paths to your scripts, each path will have independent script tag
        script: "{{ "{{ .target }}" }}/index.js"
        # stylesheet entry, same as script except it will use style tag in the html
        stylesheet: "{{ "{{ .cwd }}" }}/index.css"

        # uncomment below field, if needed to update other askep_list attributes
        # attributes:
        #     nama-form: <changeme>
        #     inisial-form: <changeme>
        #     kode-form: <changeme>
        #     # filling kode-satusehat also flagged the saved askep in database to have "is_satusehat = true"
        #     kode-satusehat: <changeme>

        # askep list row id mapping per-connection profile
        alids:
            # <connection-name>: <alid>
            default: 123
